body {
  margin: 0;
  text-align: center;
  font-family: "Fuzzy Bubbles", cursive;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 6rem;
  color: #66bfbf;
}

h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

a {
  color: #11999e;
}

div.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
  /* height: 100px; */
}

div.skill-row {
  /* display: inline-block; */
  width: 50%;
  margin: 100px auto 180px auto;
  text-align: left;
  line-height: 2;
}
.avatar {
  width: 100px;
  border-radius: 50px;
  margin-top: 50px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

div.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 8px;
  height: 0px;
  width: 8%;
}

.btn {
  position: relative;
  top: 20px;
  width: 200px;
  height: 50px;
  background-color: #11999e;
  color: white;
  border-radius: 6px;
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  margin-top: 80px;
  padding-top: 60px;
  margin-bottom: 0;
}
.footer-link {
  color: #11999e;
  margin: 0 20px 0 20px;
  text-decoration: none;
}

.surname {
  color: black;
  padding-bottom: 20px;
  margin: 20px 0 0 0;
}
